<div
  class="m-auto flex h-screen flex-col place-items-center justify-center gap-3"
>
  <div
    class="flex flex-col items-center overflow-hidden rounded-lg border border-white bg-gray-900 px-12 text-white shadow-lg"
  >
    <div class="flex flex-col items-center">
      <h2 class="pt-8 font-koulen text-2xl">Rejoindre une partie</h2>
      <table class="my-4 table-fixed text-left">
        <thead class="border-white-500 border-b">
          <tr>
            <th scope="col" class="px-4 py-2">Nom de la room</th>
            <th scope="col" class="px-4 py-2">Créateur</th>
            <th scope="col" class="px-4 py-2">Thème</th>
            <th scope="col" class="px-4 py-2">Joueur(s)</th>
            <th scope="col" class="px-4 py-2">Status</th>
            <th scope="col" class="px-4 py-2"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b border-gray-500" *ngFor="let room of rooms">
            <td class="px-4 py-2">{{ room.name }}</td>
            <td class="px-4 py-2">{{ room.creator }}</td>
            <td class="px-4 py-2">{{ room.categorie }}</td>
            <td class="px-4 py-2">5</td>
            <td class="px-4 py-2">En attente de joueur</td>
            <td class="px-4 py-2">
              <button class="font-lexend font-bold" (click)="joinRoom(room.name)">Rejoindre</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mb-4" *ngIf="rooms.length < 1">
        <fa-icon [icon]="faExclamationCircle" class="mr-2"></fa-icon>
        Aucune partie en cours
      </div>
    </div>
  </div>
  <div class="flex content-start">
    <button
      class="rounded-lg border-b-4 border-gray-500 bg-white px-5 py-1 font-lexend"
      [routerLink]="['/']"
    >
      Retour
    </button>
  </div>
</div>
