<div class="flex justify-center flex-col h-screen m-auto place-items-center gap-3">
    <div
      class="overflow-hidden rounded-lg shadow-lg bg-gray-900 flex flex-col items-center border border-white text-white p-12"
    >
    <div>
        <h2>Rejoindre une partie</h2>
        <table class="table-fixed text-left">
            <thead class="border-b border-white-500">
              <tr>
                <th scope="col" class="px-4 py-2">Nom de la room</th>
                <th scope="col" class="px-4 py-2">Créateur</th>
                <th scope="col" class="px-4 py-2">Thème</th>
                <th scope="col" class="px-4 py-2">Joueur(s)</th>
                <th scope="col" class="px-4 py-2">Status</th>
                <th scope="col" class="px-4 py-2"></th>
              </tr>
            </thead>
            <tbody >
              <tr class="border-b border-gray-500" *ngFor="let room of rooms">
                <td class="px-4 py-2">{{room.name}}</td>
                <td class="px-4 py-2">{{room.creator}}</td>
                <td class="px-4 py-2">Sport</td>
                <td class="px-4 py-2">5</td>
                <td class="px-4 py-2">En attente de joueur</td>
                <td class="px-4 py-2">
                    <button class="font-lexend font-bold">
                      Rejoindre
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <div>OU</div>
    <div>
      <div>
        Créer une partie
      </div>
      <div class="my-4">
        <input type="text" placeholder="Votre pseudo" class="text-black" [(ngModel)]="creator">
    </div>
    <div class="mb-4">
        <input type="text" placeholder="Nom de la room" class="text-black" [(ngModel)]="roomName">
    </div>
    <button (click)="createRoom()">Créer</button>
    </div>
      
    </div>
    <div class="flex content-start">
      <button class="bg-white border-b-4 border-gray-500 rounded-lg py-1 px-5 font-lexend" [routerLink]="['/']">
        Retour
      </button>
    </div>
</div>
  