<div class="outer-container">
  <div
    class="container absolute left-0 flex h-32 translate-x-[-1480px] transform items-center border-y border-r border-white bg-green-600 text-white transition-all duration-700 ease-in-out"
  >
    <div
      class="mx-10 flex flex-grow justify-around text-2xl font-bold uppercase"
    >
      <div>France</div>
      <div>Europe</div>
      <div>Monde</div>
      <div>Capitales</div>
      <div>Drapeaux</div>
    </div>
    <div class="-mx-5 -rotate-90 font-bold uppercase">Géographie</div>
  </div>
</div>
